<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 form-container">
      <h2>Welcome</h2>
      <p class = "profile">Name: <%= @user.username %> </p>
      <p class = "profile">Email: <%= @user.email %> </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>Your Posts</h2>
      <%= render "shared/article" %>
    </div>
  </div>
</div>
