@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

a {
  color: #215EDF;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2.3em;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

label {
  font-size: 1.5em;
}

footer {
  margin-top: 20px;
  height: 100px;
}

header {
  background-color: #E4F0D7;
  height: 125px;
}

#logo {
  float: left;
  font-weight: 700;
}

.main-nav {
  font-size: 1.5em;
  margin: 1px;
  text-align: right;
  margin: 20px 5px;
}

.main-nav li {
  display: inline;
  margin: 5px;
}

.errors {
  font-size: 1.8em;
  color: red;
}

.profile {
  font-size: 1.8em;
}

.post {
  border-bottom: 1px solid black;
}

.post_title {
  font-size: 2.3em;
}

.date_author {
  font-size: 1.3em;
}

.post_content {
  font-size: 1.5em;
  padding: 10px;
}

.edit-button {
  margin-bottom: 10px;
}

.flash-alerts {
  font-size: 1.5em;
}


@media (max-width: 750px) {
  #logo {
    float: none;
    display: block;
  }

  .main-nav {
    font-size: 1.4em;
    float: none;
    margin: 0;
    padding: 0;
  }
}
